.center-xy {
  justify-content: center;
  align-items: center;
}

#logo {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
  border: 1px solid rgb(255 213 0);
  padding: 18px 85px 18px 85px;
  background-repeat: no-repeat;
  background-size: 230px 200px;
  background-position-y:-135px ;
  background-color: rgb(255 213 0);
}

#logo-phone {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 310px 257px;
  background-position:-273px -89px;
  background-color: #dceeff;
  width: 38px;
  height: 38px;
}

#logo-lightning {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 310px 257px;
  background-position:-273px -133px;
  background-color: #fef5cf;
  width: 38px;
  height: 38px;
}

#logo-gaming {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 310px 257px;
  background-position:-273px -175px;
  background-color: #ffdfdb;
  width: 38px;
  height: 38px;
}

#logo-office {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 310px 257px;
  background-position:-273px -219px;
  background-color: #e1fecf;
  width: 38px;
  height: 38px;
}
#logo-topzone {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 243px 200px;
  background-position:0 -58px;
  background-color: #e1fecf;
  width: 80px;
  height: 24px;
}

#logo-dmx {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 245px 200px;
  background-position:-85px 0;
  background-color: #fff;
  width: 80px;
  height: 24px;
}
#logo-bhx {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 247px 200px;
  background-position:-170px 0;
  background-color: #fff;
  width: 80px;
  height: 24px;
}
#logo-ankhang {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 247px 200px;
  background-position:-85px -90px;
  background-color: #fff;
  width: 80px;
  height: 24px;
}
#logo-avasport {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 247px 200px;
  background-position:-85px -120px;
  background-color: #fff;
  width: 80px;
  height: 24px;
}
#logo-tantam {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 247px 200px;
  background-position:-170px -90px;
  background-color: #fff;
  width: 80px;
  height: 24px;
}
#logo-farm {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 240px 200px;
  background-position:0 -90px;
  background-color: #fff;
  width: 80px;
  height: 24px;
}
#logo-vieclam {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.webp);
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 245px 200px;
  background-position:0 -120px;
  background-color: #fff;
  width: 80px;
  height: 24px;
}


.bg-tgdd {
  background: #ffd500;
}
.bg-tgdd-dark {
  background: rgba(255, 172, 10, .6);
}

.sub-table a {
  display: block;
  /* border: 1px solid red; */
  white-space: nowrap;
  padding: 4px;
}

.sub-table h6 {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}
.accessory:hover .sub-more {
  opacity: 1;
  visibility: visible;
}
.translateY-hover div>img {
  transform: translateY(0);
  transition: .2s ease-in;
}
.translateY-hover:hover div>img {
  transform: translateY(-12px);
}
.translateY-hover:hover > span, a {
  color: blue;
}
.change-color-blue a:hover {
  color: blue;
}