.center-xy {
  justify-content: center;
  align-items: center;
}

#logo {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/homev2/desk/iconnew.webp);
  border: 1px solid rgb(255 213 0);
  padding: 23px 100px 23px 100px;
  background-repeat: no-repeat;
  background-size: 270px 239px;
  background-position-y:-160px ;
  background-color: rgb(255 213 0);
}